{% extends 'base.html' %}
{% load static %}

{% block content %}

   {% include 'partials/search.html' %}

   {% include 'partials/menu.html' %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">

                {% for receita in receitas %}
                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                            <div class="receipe-content">
                                <a href="{% url 'receita' receita.id %}">
                                    <h5>{{receita.name}}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/footer.html' %}
{% endblock %}
